<template>
  <div>About
  <h1>Loaded Id{{loadedId}}</h1>
   </div>
</template>
<script>
export default {
 data() {
   return {
     loadedId:this.$route.params.id
   }
 },
 watch:{
   '$route'(to) {
this.loadedId=to.params.id;
   }
 }
  
}
</script>