<template>
  <div>
  <button class="btn btn-primary"><router-link  :to="'/home'">Home</router-link></button>
  <button><router-link :to="'/about/1'">About 1 </router-link></button>
  <button><router-link :to="'/about/2'">About 2 </router-link></button>
  <button><router-link :to="'/contact'">Contact</router-link></button>
  <router-view></router-view>
  </div>
</template>
<script>
export default {
  data() {
    return {
      id:11,
    }
  }
}
</script>